{% extends "blog/base.html" %}

{% block title %} Posts - Mini Blog {% endblock %}

{% block content %}
<h2>All Posts</h2>

{% if posts %}
    <table>
        <thead>
        <tr>
            <th>
                Header
            </th>
            <th>
                Author
            </th>
            <th>
                Date
            </th>
        </tr>
        </thead>
        <tbody>
        {% for p in posts %}
        {%  include "blog/_post_row.html" with p=p %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}